* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .jumbotron {
  height: 300px;
  width: 1000px;
  background-color: rgb(234, 69, 54);
  transition-property: background ease;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  /* transition: background 1s ease; */
}

.container .jumbotron:hover {
  background-color: rgb(13, 12, 12);
  color: white;
  height: 400px;
}

h1 {
  font-size: 50vh;
  text-align: center;
}
