/* Universal Selector */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Tag selectors */
p {
  color: #74032e;
  font-size: 20pt;
  font-style: italic;
}
div {
  width: 500px;
  height: 100px;
  border: 10px dashed rgb(161, 1, 1);
  border-radius: 75%;
}

/* Class selector */
.sampleclass {
  color: #153243;
  font-display: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20pt;
  font-style: italic;
}
.maindiv {
  width: 100px;
  height: 100px;
  border: 10px dashed rgb(145, 161, 1);
  border-radius: 75%;
}

/* ID selector */
#sampleid {
  color: #fdec4d;
  font-display: block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20pt;
  font-style: italic;
}
#divid1 {
  width: 500px;
  height: 100px;
  border: 10px dashed rgb(113, 1, 161);
  border-radius: 75%;
}

/* Attribute selector */
li[value] {
  border: 1px solid red;
}
img[alt] {
  border: 1px solid rgb(115, 255, 0);
}
audio[controls] {
  border: 1px solid rgb(38, 0, 255);
}
div[class] {
  width: 500px;
  height: 100px;
  border: 10px dashed rgb(9, 241, 203);
  border-radius: 75%;
}

/* Pseudo Class Selector */
a:hover {
  font-size: 100px;
}

/* unvisited link */
a:link {
  font-size: 100px;
  color: #ff0000;
}

/* visited link */
a:visited {
  font-size: 100px;
  color: #00ff00;
}

/* mouse over link */
a:hover {
  font-size: 100px;
  color: #ff00ff;
}

/* selected link */
a:active {
  font-size: 100px;
  color: #0000ff;
}

/* CSS Specificity */
/* Inline styles (e.g. style="color: red;") have the highest specificity, with a value of 1000.

ID selectors (e.g. #example) have a specificity of 100.

Attribute selectors with classes (e.g. [class="example"]) have a specificity of 10.

Class selectors (e.g. .example) have a specificity of 10.

Type selectors (e.g. div, p, h1, etc.) have a specificity of 1.

Pseudo-elements (e.g. ::before, ::after, etc.) have a specificity of 1.

Attribute selectors (e.g. [attr], [attr=value], etc.) have a specificity of 1.

Pseudo-classes (e.g. :hover, :active, etc.) have a specificity of 10.

Combinators (e.g. +, ~, >, and whitespace) have a specificity of 0.

Universal selectors (e.g. *) and negation pseudo-class (e.g. :not()) have a specificity of 0. */
